.App {
  display:flex;
  flex-direction: column;

}
.pageLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.pageLayout img{
  width: 80%;
  margin-top: 0px;
  padding: 0;
  box-shadow: 8px 8px rgb(191, 188, 188);
}
h1{
  font-size: 70px;
  font-family: 'Merriweather';
  font-weight: bold;
  margin: 0 2em 0 2em;
}

.frontTitle{
  font-size: 77px;
  font-family: 'Merriweather';
  font-weight: bold;
  padding: 4rem 2rem;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 10px;
  border: 5px solid black;
  background: rgb(97, 141, 224);
  box-shadow: 8px 7px rgb(209, 209, 209);
}
.indexButton{
  background: whitesmoke;
  width: 10em;
  font-family: 'Merriweather';
  margin: auto;
  text-align: center;
  margin-top: 5rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 8px 7px rgb(209, 209, 209);
}
.indexButton a{
  text-decoration: none;
  font-style: 'Merriweather';
  color: black;
}
.index{
  display: flex;
  background: rgb(59, 180, 228);
  flex-direction: column;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 40px;
  width: 800px;
  border: 5px solid black;
 
  margin: auto;
  padding: 20px 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: flex-start;
  box-shadow: 8px 7px rgb(209, 209, 209);
  gap: 30px;

}
.index a {
  text-decoration: none;
  
  
  color: black;
  
}
.navbar{
  display: flex;
  list-style: none;
 
  padding: 0em;
  
}
.navbar button{
  font-size: 25px;
  font-family: 'Merriweather';
  border-radius: 5px;
  padding: 5px;
  width: 8em;
  margin: 0 25em;
  box-shadow: 8px 7px rgb(209, 209, 209);
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  
}
.navbar a{
  margin: 0 25px;
  text-decoration: none;
  font-family: 'Merriweather';
  color: black;
}
.navbar a.active{
  font-weight: bold;
  color: red;
}
.salesCall{
  width:850px;
  box-shadow: 8px 7px rgb(209, 209, 209);
  height: 10rem;
  margin: auto;
  border: 5px solid black;
  margin-bottom: 10rem;
  font-size: 2rem;
  font-family: 'Merriweather';
  background: rgb(243, 33, 33);

}
.address{
  font-size: 50px;
  padding: 50px;
  width: 900px;
 margin: auto;
 background: red;
margin-top: 50px;
border: 5px solid black;

}