.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  font-size: 50px;
  font-family: 'Garamond';
}
.frontTitle{
  font-size: 80px;
  font-family: 'Garamond';
  padding: 60px 0px 60px 0px;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 10px;
  border: 5px solid black;
  background: rgb(97, 182, 224);
}
.indexButton{
  background: whitesmoke;
  width: 150px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.indexButton a{
  text-decoration: none;
  color: black;
}
.index{
  display: flex;
  background: rgb(59, 174, 228);
  flex-direction: column;
  font-size: 40px;
  width: 800px;
  border: 5px solid black;
  margin: auto;
  padding: 20px 20px;
  margin-top: 200px;
  align-items: flex-start;
  gap: 30px;

}
.index a {
  text-decoration: none;
  color: black;
  
}
